* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --p-color: #7959e4;
   --s-color: white;
   --t-color: #a292fb;
   --fontColor: #afafaf;
   --bg-color: #f2f2f2;
   --iconColor: #7959e4;
   --font: 'Raleway', sans-serif;
   height: 100%;

   color: var(--fontColor);
   background-color: var(--bg-color);

   font-family: var(--font);
   font-size: 14px;
   font-weight: 200;
}

body {
   max-width: 1200px;
   margin: 0 auto;
}

/* ********************************
HEADER */

header, aside, article, .steps {
   position: relative;

   margin: 2%;

   border-radius: 5px;
   background-color: var(--s-color);
   box-shadow: 0 1px 3px 0 var(--fontColor);
}

i {
   cursor: pointer;

   color: var(--iconColor);
}

i:active {
   transform: translateY(1px);
}

ul {
   padding: 1.8rem 0;
}

ul li {
   display: inline;

   padding: 0% 3%;

   cursor: pointer;
}

ul li:first-child {
   padding: 1.8rem 3rem;

   color: var(--s-color);
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: var(--p-color);
}

ul li input {
   position: absolute;
   right: 0;

   color: white;
   border: none;

   font-family: var(--font);
   font-size: 1rem;
}

li input::placeholder {
   color: var(--fontColor);

   font-weight: 200;
}

header .fa-search {
   position: absolute;
   top: calc(50% - 0.5rem);
   right: 1.8rem;

   margin: 0 auto;
}

/* BURGER ICON */

.burger-icon {
   position: relative;

   cursor: pointer;
   display: none;
   font-size: 14px;
}

.burger {
   width: 2em;
   height: 0.35em;
   margin-bottom: 0.3em;

   user-select: none;

   border-radius: 2px;
   background-color: var(--p-color);
}

.burger:nth-child(3) {
   margin-bottom: 0;
}

/* ****************************
PORTFOLIO SECTION */

.portfolio-container {
   display: grid;

   width: 96%;
   margin: 4% auto;

   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 2%;
}

aside {
   position: relative;

   margin: 0;

   grid-column: span 1;
}

article {
   margin: 0;

   grid-column: span 2;
}


/* ASIDE LEFT */

.left {
   text-align: center;
}

.left img {
   width: 200px;
   height: auto;
   margin: 8%;
}

h1 {
   font-size: 1.5rem;
}

.left i {
   padding: 5px;
}

.icon-container {
   position: absolute;
   bottom: 0;

   width: 100%;

   background-color: var(--bg-color);
}

.icon-container i {
   width: 33.3%;
   height: 100%;
   margin: 0 -4px;
   padding: 20px 0;

   font-size: 2.2rem;
}

.icon-container i:nth-child(2) {
   border-right: solid 1px var(--s-color);
   border-left: solid 1px var(--s-color);
}

/* MIDDLE SECTION OF PORTFOLIO */

.middle {
   position: relative;

   padding: 30px 40px;

   background: url(img/stock-photo-14547261.jpg) no-repeat center center;
   background-size: cover;

   font-size: 0.9rem;
}

.middle span {
   top: 2rem;

   color: var(--s-color);
}

.heart {
   position: absolute;
   top: 30px;
   right: 40px;
}

.heart i {
   padding-left: 5px;
}

.middle button {
   position: absolute;
   bottom: 3rem;
   left: 50%;

   padding: 12px 50px;

   cursor: pointer;
   transform: translateX(-50%);

   color: var(--s-color);
   border: solid 2px var(--s-color);
   outline: none;
   background-color: transparent;

   font-family: var(--font);
   font-size: 0.9rem;
}

button:hover {
   color: var(--s-color);
   background-color: var(--t-color);
}

/* RIGHT PORTFOLIO SIDE */

article {
   height: 450px;
}

.img-container {
   width: 100%;
   height: 220px;

   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background: url(img/9ea2050b1d4538be79b572b697035135.jpg) no-repeat center center;
   background-size: cover;
}

.img-container img {
   width: 100%;
   height: auto;
}

.text-container {
   position: relative;

   padding: 30px 40px;
}

.text-container h3 span {
   padding: 0 10px;

   font-size: 0.8rem;
   font-weight: 200;
}

.text-container h3 {
   margin-bottom: 20px;
}

.text-container p span {
   color: var(--p-color);

   font-size: 0.9rem;
}

.text-container p span:hover {
   cursor: pointer;

   color: var(--t-color);
}


/* STEPS SECTION */

.steps {
   display: grid;

   width: 96%;

   grid-template-columns: repeat(3, 1fr);
}

.step1, .step2, .step3 {
   position: relative;

   height: 240px;

   grid-column: span 1;
}

.step2 {
   border-right: solid 1px var(--bg-color);
   border-left: solid 1px var(--bg-color);
}

.circle {
   position: relative;
   top: 50%;

   width: 4.8rem;
   height: 4.8rem;
   margin: auto 0 auto 8%;

   transform: translateY(-50%);

   color: var(--s-color);
   border-radius: 100%;
   background-color: var(--p-color);
}

.circle p {
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);

   font-size: 1.2rem;
}

.steps-text-container {
   position: absolute;
   top: 50%;
   right: 0;

   width: calc(92% - 4.8rem - 5%);
   margin-right: 5%;
   padding-left: 20px;

   transform: translateY(-50%);
}

.steps h3 {
   padding-bottom: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width:1050px) {
   .portfolio-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }
   .left {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      margin-bottom: 4%;
   }
   .middle {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
   }
   .right {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      margin-bottom: 4%;
   }
}

@media screen and (max-width:900px) {
   .steps {
      background-color: var(--bg-color);
      box-shadow: none;
   }
   .step1, .step2, .step3 {
      grid-column: span 3;
      margin-bottom: 3%;
      background-color: white;
      box-shadow: 0 1px 3px 0 var(--fontColor);
   }
   .portfolio-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: none;
   }
   .left, .middle, .right {
      grid-column: 1 / span 3;
      margin-bottom: 4%;
   }
   .left {
      grid-row: 1 / span 1;
   }
   .middle {
      grid-row: 2 / span 1;
   }
   .right {
      grid-row: 3 / span 1;
   }
   .burger-icon {
      display: inline;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
   }
   header ul {
      display: none;
   }
   header {
      height: 100px;
   }
   .text-container h3 span {
      display: block;
      padding: 0;
   }
}